<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Listing</title>
    <style>
        input{
            height:20px;
            width:300px;
        }
    </style>
</head>
<body>
    <h3>Edit: <%=listing.id%></h3>
    <form action="/listings/<%=listing.id%>?_method=PUT" method="post">
        <input name="listing[title]" placeholder="enter title" type="text" value="<%=listing.title%>" >
        <br><br>
        <textarea name="listing[description]" placeholder="enter description" cols="50" rows="8"><%=listing.description%></textarea>
        <br><br>
        <input name="listing[image]" placeholder="enter image URL/link" type="text" value="<%=listing.image%>">
        <br><br>
        <input name="listing[price]" placeholder="enter price" type="number" value="<%=listing.price%>">
        <br><br>
        <input name="listing[location]" placeholder="enter location" type="text" value="<%=listing.location%>">
        <br><br>
        <input name="listing[country]" placeholder="enter country" type="text" value="<%=listing.country%>">
        <br><br>
        <button>Save</button>
    </form>
</body>
</html>