<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users</title>
    <style>
        table,th,td{
            border:1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>User</th>
            <th>Email</th>
            
        </tr>
        <%for(user of users){%>
        <tr>
            <td><%=user.id%></td>
            <td><%=user.username%></td>
            <td><%=user.email%></td>
            <td>
            <form method="GET" action="/user/<%=user.id%>/edit">
                <button>Edit username</button>
            </form>
            <form method="Post" action="/user/<%=user.id%>/delete?_method=DELETE">
                <button>Delete username</button>
            </form>
            </td>
        </tr>
        <%}%>
    </table>
    <!-- new user -->
    <form method="GET" action="/user/new">
        <button>+ Create new user</button>
    </form>
</body>
</html>